{% extends 'base.html.twig' %}

{% block body %}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="row">
                <div class="alert alert-success alert-dismissible col-xs-8 col-xs-push-2" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="alert alert-danger alert-dismissible col-xs-8 col-xs-push-2" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ flashMessage }}
            </div>
        </div>
        {% endfor %}<br/><br/>

<h1>Rencontrez les Bonobos de votre région !</h1>

<div class="login-form">
 <div class="close"> </div>
   <div class="head-info">
     <label class="lbl-1"> </label>
     <label class="lbl-2"> </label>
     <label class="lbl-3"> </label>
   </div>
     <div class="clear"> </div>
 <div class="avtar">
   <img src="images/avtar.png" />
 </div>
 <div id="login_block">
     <form method="post" action="/login">
         <div class="form-group-lg">
             <input type="text" name="login" placeholder="Votre login">
         </div>
         <div class="form-group-lg">
             <input type="password" name="password" placeholder="Votre mot de passe">
         </div>
          <div class="signin">
             <input type="submit" value="Connexion">
         </div>
         <div class="signin">
         <a href="/register">S'inscrire</a>
         </div>
     </form>
 </div>
</div>
{% endblock %}
